aiohttp==3.6.2
astroid==2.3.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
feedparser==5.2.1
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
ipython==7.11.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.3
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
pylint==2.4.4
requests==2.22.0
rope==0.14.0
six==1.13.0
soupsieve==1.9.5
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.4.2
